page-group-selection {
  .groupButton {
    margin-top: 5%;
    background-color: white;
  }
  .createGroupButton {

    width: 90%;
    margin: auto;
    margin-top: 10%;
    border-radius: 10%;
    font-size: large;
    font-weight: 700;
    box-shadow: 5px 5px 5px #888888;
  }
}
