group-item {
.groupItemImage
{
  //border: 1px solid #000;
  //border-radius: 10%;
  float: left;
  width: 15%;
  height: 15%;
  margin-left: 5%;
}
  .groupItemDiv
  {
    margin-top:10%;
    padding: 3%;
    border: 1px solid #000;
    border-radius: 5%;
    display: inline-block;
    box-shadow: 10px 10px 5px #888888;
  }
  .groupItemLabel
  {
    width:70%;
    margin-left: 10%;
    float: left;
  }

  .groupItemPeople
  {
    float:right;
    margin-top:5%;
  }
}
